<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Medicaps University Recruitment Portal </title>
</head>

<body>
  <!-- Image and text -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">

    </a>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="Medicaps_logo.png" width="150" height="40" class="d-inline-block align-top" alt="">

    <a class="navbar-brand" href="#"> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link font-weight-bold" href="main.html">&emsp;Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-weight-bold" href="" id="navbarDropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            &emsp;SIGN IN
          </a>
          <div class="dropdown-menu font-weight-bold bg-light text-white" aria-labelledby=" navbarDropdownMenuLink ">
            <a class="dropdown-item " href="main.html">Recruiters</a>
            <a class="dropdown-item " href="main.html">Students</a>

          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            &emsp;SIGN UP
          </a>
          <div class="dropdown-menu font-weight-bold bg-light text-white" aria-labelledby=" navbarDropdownMenuLink ">

            <a class="dropdown-item " href="signup Students.html">Students</a>
            <a class="dropdown-item " href="sign up Recruiters.html">Recruiters</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold " href="# ">&emsp;Forgot Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold " href="# ">&emsp;Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold " href="#">&emsp;Credits</a>
        </li>


      </ul>
    </div>
  </nav>

  <br><br>
  <section id="blog" >
    <div class="container" style="margin-left:15%; margin-right:15%">

      <div class="container">
        <br>
        <div class="row text-center">
          <div class="col-md-10 col-md-offset-1"
            style="border: 2px solid #cc0000; border-radius: 25px; padding:30px; background : #FFF; ">
            <div class="col-md-12">
              <h4> About Placement and Recruitement Automation System </h4>
              This is a Job and Recruitement Portal created for use of Placements and Internship at Medi-Caps
              University. It is deployed by
              Students' Placement Office. The portal aims to reduce the manual office work by providing necessary
              automation
              alternatives. It provides information exchange between Students, Companies, Staff and Placement Office.
              SPO has
              various powers to mediate between various stake holders in the system.

              This web app is a part of multiple web apps aimed at processing data and allow access based on clearance
              level
              at SPO. The other apps include a Contact Management App and a Mail Access App. These are developed and
              maintained by
              students.
              <br> <br> <br>
              <h4>Maintained By </h4>

              <table class="table table-hover text-center center">

                <tr>
                  <td>Suresh Jain </td>
                </tr>
                <tr>
                  <td>DK pande</td>
                </tr>
                <tr>
                  <td>Lakhan Singh</td>
                </tr>

                </tbody>
              </table>
              <br><br><br>
              <h4> Team </h4>

              Development of the Placement Automation System was undertaken by following people. They designed the
              system, deciding
              on frameworks, models UI and whole bunch of stuff. The motivation of the team was to provide a better
              system to the
              student community.
              <div class="container">
                <a href="https://www.linkedin.com/in/urvisha-jain-10?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BG2bquWl9ROuh1yFDjXmC%2Fg%3D%3D" target="_blank">
                <img src="urvisha.jpeg" class="img-fluid img-thumbnail" width="20%" alt="">
                <h5>Urvisha Jain</h5></a>
                <a href="https://www.linkedin.com/in/vidhi-mehta-2252001a8?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B9WnWyiRgSQq7orQJsYZf2w%3D%3D" target="_blank">
                <img src="vidhi.jpeg" class="img-fluid img-thumbnail" width="20%" alt="">
                <h5>Vidhi Mehta</h5></a>
                <a href="https://www.linkedin.com/in/visha-arzare-09v07?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BAmHw%2FbinS8qD3ckkmVJvvQ%3D%3D" target="_blank">
                <img src="visha.jpeg" class="img-fluid img-thumbnail" width="20%" alt="">
                <h5>Visha Arzare</h5></a>
              </div>
  </section>

  <!-- Footer Area Start -->
  <!-- Footer -->





  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js "
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
    crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
    crossorigin="anonymous "></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
    crossorigin="anonymous "></script>



</body>

</html>
