{% extends 'base.html' %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/credits.css' %}">
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
<div class="container bg-white shadow-lg rounded-3 my-4 p-4 my-primary-bgcolor">
    <div class="mt-2">
        <h5 class="text-center">About Placement Automation System</h5>
        <p>This is a Job Portal created for use of Placements and Internship at IIT Kanpur. It is deployed by Students' Placement Office. The portal aims to reduce the manual office work by providing necessary automation alternatives. It provides information exchange between Students, Companies, Staff and Placement Office. SPO has various powers to mediate between various stake holders in the system. This web app is a part of multiple web apps aimed at processing data and allow access based on clearance level at SPO. The other apps include a Contact Management App and a Mail Access App. These are developed and maintained by students.
        </p>
    </div>
    <div class="mt-5">
        <h5 class="text-center">Maintained By</h5>
        <table class="table table-hover text-center center">

            <tbody><tr>
              <td>Suresh Jain </td>
            </tr>
            <tr>
              <td>DK pande</td>
            </tr>
            <tr>
              <td>Lakhan Singh</td>
            </tr>

            </tbody>
          </table>
    </div>
    <div class="mt-5">
        <h5 class="text-center">Our Team</h5>
        <p class="text-center">Development of the Placement Automation System was undertaken by following people. They designed the system, deciding on frameworks, models UI and whole bunch of stuff. The motivation of the team was to provide a better system to the student community.</p>
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-12">
                <div class="card profile-header">
                    <div class="body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="rounded-circle float-md-right"> <img src="{% static 'images/urvisha.jpeg' %}" width="140px" height="140px" alt="" class="rounded-circle"> </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-12">
                                <h4 class="mt-0 mb-1"><strong>Urvisha Jain</strong></h4>
                                <span class="year">Junior Year Undergraduate</span>
                                <p>in Computer Science</p>
                                <!-- <div>
                                    <button class="btn btn-primary btn-round">Follow</button>
                                    <button class="btn btn-primary btn-round btn-simple">Message</button>
                                </div> -->
                                <p class="social-icon m-t-5 m-b-0">
                                    <a title="Twitter" class="mx-2" href=""><i class="fab fa-twitter"></i></a>
                                    <a title="Facebook" class="mx-2" href=""><i class="fab fa-facebook"></i></a>
                                    <a title="Instagram" class="mx-2" href=""><i class="fab fa-instagram "></i></a>
                                </p>
                            </div>                
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="col-xl-6 col-lg-7 col-md-12">
                <div class="card profile-header">
                    <div class="body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="rounded-circle float-md-right"> <img src="{% static 'images/ritik.jpg' %}" width="140px" height="140px" alt="" class="rounded-circle"> </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-12">
                                <h4 class="mt-0 mb-1"><strong>Ritik Jaiswal</strong></h4>
                                <span class="year">Junior Year Undergraduate</span>
                                <p>in Computer Science</p>
                                <!-- <div>
                                    <button class="btn btn-primary btn-round">Follow</button>
                                    <button class="btn btn-primary btn-round btn-simple">Message</button>
                                </div> -->
                                <p class="social-icon m-t-5 m-b-0">
                                    <a title="Twitter" class="mx-2" href=""><i class="fab fa-twitter"></i></a>
                                    <a title="Facebook" class="mx-2" href=""><i class="fab fa-facebook"></i></a>
                                    <a title="Instagram" class="mx-2" href=""><i class="fab fa-instagram "></i></a>
                                </p>
                            </div>                
                        </div>
                    </div>                    
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}