
{% extends 'base.html' %} 


{% block mainbody %}
 
<section id="blog">
    <div class="container">
                        
  <div class="row">
       <div class="col-md-6 col-md-offset-3" style="border: 2px solid #73AD21; border-radius: 25px; padding:30px; background : #FFF; ">
         
         <form action="/forgot_password/" method="post">
  
             <input type='hidden' name='csrfmiddlewaretoken' value='A4N4rNHPTeBcJ76tuPRRJg8Ks2UQZ9nnyT1AnltuRnnXGQdNgJF8VBZfGuKCjG5x' />
  
             
             <div class="form-level">
               
               <input type="text" name="username" id="id_username" required placeholder="Username" class="form-control" maxlength="20" />
               <span class="form-icon fa fa-user"></span>
             </div>
  
             <input type="Submit" class="btn btn-main featured" value="Submit" />
  
         </form>
       </div>
     </div>
  
    </div>
  </section>
  

{% endblock mainbody %}