
      {% extends 'base.html' %}
{% block mainbody %}       
       
    <div class="container border-primary mb-5 px-4 py-3  border border-success rounded" style="max-width: 40rem; ">

        <form>
            <br>
            <div class="form-group justify-content-center ">
                <!-- <label for="exampleInputEmail1 ">Email address</label> -->
                <input type="text" class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp " placeholder="Enter Full Name of Organization" required>
                <!-- <small id="emailHelp " class="form-text text-muted ">We'll never share your email with anyone else.</small> -->
                <br> <input type="text" class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp " placeholder="Contact Person" required>
                <br> <input type="text" class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp " placeholder="Designation" required>
                <br> <input type="email" class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp " placeholder="E-mail ID" required>
                <br> <input type="number" class=" form-control " id="exampleInputEmail1 " aria-describedby="emailHelp " placeholder="Phone Number " required>
                <br> <input type="text" class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp " placeholder="Preferred Username" required>


            </div>
            <!-- <div class="form-group ">
                <br>
                 <label for="exampleInputPassword1 ">Password</label> -->
            <!-- <input type="password " class="form-control " id="exampleInputPassword1 " placeholder="Roll-Number ">
    </div> -->
            <ol>
                <li>Kindly register using your official mail ID </li>
                <li>Username should not contain spaces and/or special characters </li>
                <li>Password will be mailed to the registered Email ID</li>
            </ol>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                    <label class="form-check-label" for="invalidCheck2">
            Agree to terms and conditions
          </label>
                </div>
            </div>
            <button type="login " class="btn btn-danger ">Register</button>
        </form><br>
    </div>
    {% endblock mainbody %}
  